body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 100vh;
}

.grid-parent {
  max-width: 1750px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.box {
  margin: 15px;
  width: 250px;
  height: 250px;
  background-color: #3f51b5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
}

.box img {
  width: 135px;
}

.box svg {
  width: 135px;
}

.box .align-img {
  width: 135px;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box h2 {
  color: white;
  font-weight: 400;
  margin: 0;
}

.footer {
  position: relative;
  bottom: 10px;
  right: 10px;

}

.hidden {
  visibility: hidden;
}

@media (max-device-width: 1000px) and (orientation : portrait) {
  .box {
    width: 350px;
    height: 350px;
  }

  .footer {
    font-size: 30px;
  }

  .box .align-img {
    width: 155px;
    height: 155px;
  }

  .box img {
    width: 155px;
  }

  .box svg {
    width: 155px;
  }

  .box h2 {
    font-size: 36px;
  }

  .hidden-footer {
    margin: 0;
  }
}
